<div class="container" style=" height: 100%;
display: flex;
justify-content: center;
align-items: center;
margin: auto;">
  <div class="card text-center" style="width:400px;padding:20px;">
    <div class="card-header text-primary font-weight-bold" style="font-size: 25px;" >Forgot Password</div>

  <p class="text-success font-weight-bold" *ngIf="view">
    Email Sent!! Please check you mail 
  </p>
  <div class="card-content">
 <form (ngSubmit)="forgot()">
   
  <mat-form-field>
    <input matInput placeholder="Registered Email ID" type="text" email required [(ngModel)]="email" name="email">
  </mat-form-field>
  <br>
  <button mat-raised-button color="primary" (click)="forgot()">Send Email</button>
 </form></div>
</div>
</div>